@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

// navigation bar setup

.topnav {
    a {
        float: left;
        color: black;
        text-align: center;
        padding: 0 8px;
        text-decoration: none;
        font-size: 17px;
        font-style: oblique;
    }

    a:hover {
        border-radius: 20px;
        background-color: gold;
        color: white;
        transform: translate(2px, -2px);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
}



// generic setups for flex box;
section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: justify;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    max-width: 900px;
    background: white;
    position: relative; // position relative to .top-right
    border: 2px solid gold;
}

// row properties for social media and email

#social-media {
    display: flex;
    flex-wrap: wrap;

    #e-mail a {
        font-size: 80px;
    }

    a {
        transition: all 1s;

        &:hover {
            transform: translate(10px, -10px);
            opacity: 0.5;

        }

    }

    img {
        width: auto;
        height: 80px;
    }
}

// global setups

body {
    background: gold;
}

#about-me {
    display: block;
}

section h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}

p {
    font-family: 'Lora', serif;
    margin-bottom: 1rem;
}

ul {
    padding-left: 40px;
}



#personal-details img {
    max-width: 40%;
    height: auto;
}


/* Top right text display for name and occupation*/
.top-right {
    display: initial;
    border: 0;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    text-align: right;
    font-size: 1.2rem;
}



/* Mobile Styles */
@media only screen and (max-width: 500px) {
    body {
        font-size: 1.2rem;
    }

    section {
        text-align: start;

        h2 {
            margin-bottom: 0.5rem;
        }
    }


    #personal-details {
        img {
            max-width: 70%;
        }

    }

    #github,
    #linked-in,
    #e-mail {
        width: 33.3%;
        justify-content: center;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 900px) {
    body {
        font-size: 1.1rem;
    }

    #personal-details {
        img {
            width: 50%;
        }

        .top-right {
            font-size: 1.8rem;
        }
    }

    #work,
    #study {
        width: 50%;
        align-content: flex-start;
    }

    #wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    #github,
    #linked-in,
    #e-mail {
        width: 33.3%;
        justify-content: center;
    }

    /* Top right text */
    .top-right {
        position: absolute;
        top: 2.5rem;
        right: 1rem;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 901px) {
    main {
        width: 960px; //max width of flex box
        margin: 0 auto;
    }

    body {
        font-size: 1.1rem;
    }

    #personal-details {
        img {
            width: 50%;
        }

        .top-right {
            font-size: 2rem;
            position: absolute;
            top: 2.5rem;
            right: 1rem;
            text-align: left;
            font-family: 'Montserrat', sans-serif;
        }
    }

    #work,
    #study {
        width: 47%;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    #wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    #github,
    #linked-in,
    #e-mail {
        width: 31.4%;
        justify-content: center;
    }
}